<app-sidebar></app-sidebar>            
<!-- <app-header></app-header> -->
  <!-- [ Main Content ] start -->
  <app-beradcrumbs></app-beradcrumbs>
  <div class="pcoded-main-container" id="home">
      <div class="pcoded-wrapper">
          <div class="pcoded-content">
              <div class="pcoded-inner-content">
                  <div class="main-body">
                      <div class="page-wrapper">
                          <!-- [ Main Content ] start -->
                          <div class="row">
                              <div class="col-sm-12">
                                <router-outlet></router-outlet>
                              </div>
                          </div>
                          <!-- [ Main Content ] end -->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- [ Main Content ] end -->
  