<div class="card">
    <div class="card-header">
        <div class="card-header-right">
            <h3>Total de tuits: {{cant_tot_extraidos}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <app-cantidadtwitter [cantidad]="cant_tot_positivos" [porcentaje]="cant_tot_positivos_porcentaje"
                titulo="Postivos"></app-cantidadtwitter>
        </div>
        <div class="col-sm-4">
            <app-cantidadtwitter [cantidad]="cant_tot_negativos" [porcentaje]="cant_tot_negativos_porcentaje"
                titulo="Negativos"></app-cantidadtwitter>
        </div>
        <div class="col-sm-4">
            <app-cantidadtwitter [cantidad]="cant_tot_neutro" [porcentaje]="cant_tot_neutro_porcentaje"
                titulo="Neutros"></app-cantidadtwitter>
        </div>
    </div>
</div>