<div class="card">
    <div class="card-header">
        <div class="card-header-right">
            <h3>Total de tuits: {{cant_tot_extraidos}}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <app-cantidadtwitter [cantidad]="cant_tot_positivos" [porcentaje]="cant_tot_positivos_porcentaje"
                titulo="Postivos"></app-cantidadtwitter>
        </div>
        <div class="col-sm-4">
            <app-cantidadtwitter [cantidad]="cant_tot_negativos" [porcentaje]="cant_tot_negativos_porcentaje"
                titulo="Negativos"></app-cantidadtwitter>
        </div>
        <div class="col-sm-4">
            <app-cantidadtwitter [cantidad]="cant_tot_neutro" [porcentaje]="cant_tot_neutro_porcentaje"
                titulo="Neutros"></app-cantidadtwitter>
        </div>
    </div>
</div>
<div class="card">
    <div class="row">
        <div class="col-sm-5">
            <div class="card">                
                <app-graficas titulo="Número de menciones" [fecha]="fechaMensiones" [valor]="valorMensiones"></app-graficas>
            </div>
        </div>
        <div class="col-sm-5">
            <div class="card">
                <app-graficas titulo="Analisis de sentimiento" [fecha]="fechaAS" [valor]="tweet"></app-graficas>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="card">
                <!--[cloudData]="cloudData"-->
                <app-wordcloud ></app-wordcloud>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="row">
        <div class="col-sm-4">
            <div class="card">                
                <app-toptweets [tweets]="topTweet"></app-toptweets>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <app-post titulo="Menciones positivas populares" [posts]="postsPositivos"></app-post>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <app-post titulo="Menciones negativas populares" [posts]="postsNegativos"></app-post>
            </div>
        </div>
    </div>
</div>