<!-- [ navigation menu ] start -->
<nav class="pcoded-navbar">
    <div class="navbar-wrapper">
        <div class="navbar-brand header-logo">
            <a href="index.html">
                <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" />
                <img class="img-fluid logo-thumb" src="assets/images/logo-thumb.png" alt="Theme-Logo" />
            </a>
            <a class="mobile-menu" id="mobile-collapse" href="javascript:"><span></span></a>
        </div>
        <div class="navbar-content scroll-div">
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item pcoded-menu-caption">
                    <label>Navigation</label>
                </li>
                <li class="nav-item">
                    <a href="#/home" class="nav-link active">
                        <span class="pcoded-micon">
                            <i class="feather icon-home"></i>
                        </span>
                        <span class="pcoded-mtext">Dashboard</span>
                    </a>
                </li>                
            </ul>
            <ul class="nav pcoded-inner-navbar">
                <li class="nav-item">
                    <a href="#/accionpopular" class="nav-link active">
                        <span class="pcoded-micon">
                        </span>
                        <span class="pcoded-mtext">Accion Popular</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link active">
                        <span class="pcoded-micon">
                        </span>
                        <span class="pcoded-mtext">Alianza por el progreso</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link active">
                        <span class="pcoded-micon">
                        </span>
                        <span class="pcoded-mtext">Apra</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link active">
                        <span class="pcoded-micon">
                        </span>
                        <span class="pcoded-mtext">Fuerza Popular</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link active">
                        <span class="pcoded-micon">
                        </span>
                        <span class="pcoded-mtext">Frente Amplio</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link active">
                        <span class="pcoded-micon">
                        </span>
                        <span class="pcoded-mtext">PPC</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link active">
                        <span class="pcoded-micon">
                        </span>
                        <span class="pcoded-mtext">Partido Morado</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home" class="nav-link active">
                        <span class="pcoded-micon">
                        </span>
                        <span class="pcoded-mtext">Podemos Peru</span>
                    </a>
                </li>                
            </ul>
        </div>
    </div>
</nav>
<!-- [ navigation menu ] end -->