<div class="card">
    <div class="card-header">
        <h5>Datta Able Angular Documentation</h5>
        <div class="card-header-right">
            <div class="btn-group card-option">
                <button type="button" class="btn dropdown-toggle btn-icon" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="feather icon-more-horizontal"></i>
                </button>
                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                    <li class="dropdown-item minimize-card"><a href="javascript:"><span><i class="feather icon-minus"></i> collapse</span><span style="display:none"><i class="feather icon-plus"></i> expand</span></a></li>
                    <li class="dropdown-item close-card"><a href="javascript:"><i class="feather icon-trash"></i> Remove</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card-block">
        <p>Datta Able admin template is Angular 10 and Bootstrap 4 admin template which comes with variety feature.</p>
        <h6 class="d-inline">Author : </h6>
        <p class="d-inline">Codedthemes</p>
        <br>
<h6 class="d-inline">Version : </h6>
        <p class="d-inline">v1.0.1</p> <br/>
        <h6 class="d-inline">Update Date : </h6>
        <p class="d-inline">05-08-2020</p>
    </div>
</div>